<div
  *ngIf="alertMostradoError === true"
  class="alert alert-danger mt-3"
  role="alert"
>
  Formulario no válido!
</div>
<div
  *ngIf="alertMostraCantidad === true"
  class="alert alert-danger mt-3"
  role="alert"
>
  La cantidad solicitada no está disponible!
</div>
<div
  *ngIf="alertMostraCestaVacia === true"
  class="alert alert-danger mt-3"
  role="alert"
>
  La cesta está vacía!
</div>
<div id="divConsultar">
  <div *ngIf="!actualizando" [formGroup]="form" class="form-group">
    <label for="pedido">Buscar Pedido</label>
    <div class="form-inline">
      <input
        (keydown)="buscarPedido()"
        placeholder="Nombre Pedido"
        formControlName="buscarPedido"
        type="text"
        name="nombre"
        id="pedido"
        class="form-control col-11"
      />
      <button (click)="navigateOrder()" class="btn btn-danger ml-2">
        Salir
      </button>
    </div>
  </div>
  <div
    *ngIf="alertMostrado === true && !actualizando"
    class="alert alert-danger mt-3"
    role="alert"
  >
    Pedido eliminado correctamente!
  </div>
  <div *ngIf="!actualizando" class="row d-flex wrap">
    <div
      *ngFor="let order of orders"
      class="
        col-md-4
        p-3
        border
        rounded
        d-flex
        align-items-center
        justify-content-center
        flex-column
      "
    >
      <img
        src="../../../assets/images/order.jpg"
        alt="order"
        style="width: 200px; height: 200px"
      />
      <div>
        <h3>{{ order.name }}</h3>
        <p>{{ order.date }}</p>
        <p>{{ order.totalPedido | currency: "EUR" }}</p>
        <ul>
          <li *ngFor="let article of order.articles">
            {{ article.nombre }}: {{ article.unidades }} unidades
          </li>
        </ul>
        <button
          (click)="actualizandoPedido(order)"
          class="btn btn-success mr-2"
        >
          Actualizar
        </button>
        <button (click)="borrarPedido(order)" class="btn btn-danger">
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="alertMostrado === true && actualizando"
    class="alert alert-success mt-3"
    role="alert"
  >
    Pedido actualizado correctamente!
  </div>
  <div *ngIf="actualizando" class="col mt-5">
    <div *ngIf="actualizando">
      <form [formGroup]="form" class="border rounded p-4">
        <h3 class="mb-3">Crear Nuevo Pedido</h3>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="pedido">Nombre Pedido</label>
            <input
              placeholder="Nombre"
              formControlName="nombre"
              type="text"
              class="form-control"
              id="pedido"
            />
          </div>
          <div class="form-group col-6">
            <label for="date">Fecha</label>
            <input
              formControlName="fecha"
              type="date"
              class="form-control"
              id="date"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="search">Buscar Articulo</label>
            <div class="form-inline">
              <input
                (keydown)="buscarArticulo()"
                placeholder="Nombre Articulo"
                formControlName="buscarArticulo"
                type="text"
                name="articulo"
                id="search"
                class="form-control col-6"
              />
              <button (click)="actualizarPedido()" class="btn btn-primary ml-2">
                Actualizar Pedido
              </button>
              <button (click)="navigateOrder()" class="btn btn-danger ml-2">
                Salir
              </button>
            </div>
          </div>
        </div>
      </form>
      <ul class="list-group">
        <div class="row">
          <li
            *ngFor="let article of pedidoActualizado.articles"
            class="col-3 list-group-item"
          >
            <p>{{ article.nombre }}</p>
            <p>Precio Total: {{ article.totalPrice | currency: "EUR" }}</p>
            <p>Unidades: {{ article.unidades }}</p>
            <button
              (click)="eliminarAddedArticulo(article)"
              class="btn btn-danger"
            >
              Eliminar
            </button>
          </li>
        </div>
      </ul>

      <div class="row d-flex wrap">
        <div
          class="
            col-md-4
            p-3
            border
            rounded
            d-flex
            align-items-center
            justify-content-center
            flex-column
          "
          *ngFor="let article of articles"
        >
          <img
            src="../../../assets/images/item-shop.jpg"
            alt="user"
            style="width: 200px; height: 200px"
          />
          <div>
            <h3>{{ article.name }}</h3>
            <p>Stock: {{ article.stock }}</p>
            <p>Precio: {{ article.price | currency: "EUR" }}</p>
          </div>
          <div [formGroup]="form" class="form-group">
            <label for="inputState">Cantidad</label>
            <input
              formControlName="cantidad"
              type="number"
              name="articulo"
              id="inputState"
              class="form-control"
            />
          </div>
          <button (click)="addArticulo(article)" class="btn btn-success mr-2">
            Añadir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
