/* #buttonsUsers {
  width: 20vw;
}
#divUsers {
  height: 100vh;
}
.btn-lg {
  width: 200px;
  padding: 50px;
}
#divRegister {
  width: 55vw;
}
#divConsultar {
  width: 55vw;
}

#newUserForm {
  width: 40vw;
} */

.btn-lg {
  height: 100px;
  width: 200px;
}
