/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Commissioner", sans-serif !important;
  background-color: rgb(240, 241, 241);
}
