/* You can add global styles to this file, and also import other style files */
.container {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  min-height: 100vh;
  background-color: hsl(222, 26%, 31%);
}
